<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask REST API</title>
    <style>
        .body {
            background-color: #121212;
            color: #FFFFFF;
            color: rgba(255, 255, 255, 0.85);
        }
    </style>
</head>
<body class="body">
    <h1>
        Hello, my Peopleeee!
    </h1>

    <section>
        {% for person in people %}
        <h2>{{ person.fname }} {{ person.lname }}</h2>
        <ul>
            {% for note in person.notes %}
            <li>
                {{ note.content }}
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </section>
</body>
</html>
